{% extends 'base.html' %}
{% block title %}登陆{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')+'?v14' }}">
    <style>
    div.input-group input{
        width: 75%
    }
    </style>

        <script>
        function verify_form(){
            var old_pass = $('input[name=old_pass]').val();
            var new_pass = $('input[name=new_pass]').val();
            var re_pass = $('input[name=re_pass]').val();
            if (old_pass==''){
                alert('请输入旧密码！');
                return false
            }
            else{
                if(new_pass == ''){
                    alert('请输入新密码！');
                    return false
                }
                else{
                    if (re_pass==''){
                    alert('请确认密码！');
                    return false}
                    else{
                        if(new_pass==re_pass){
                        $.ajax({
                            type: 'post',
                            url: "{{ url_for('user.change_password') }}",
                            data: {id: {{current_user.id}},password:old_pass,new_pass:new_pass},
                            async: false,
                            success:function(res){var res_json = JSON.parse(res);if (res_json['status']==1){alert(res_json['message']);window.location.href="{{url_for('main.index')}}";}else{alert(res_json['message'])}},
                            error: function(){alert('提交信息有误！')}
                        })}
                        else{
                            alert('两次输入的新密码不匹配')
                        }
                    }
                }
            }
        }
        $(document).ready(function () {
            /* 提交按钮事件 */
            $('button#change-password').click(function(){
                verify_form()
            });
            /* 标签按钮获得焦点事件 */
            $('button#label-btn').focus(function(){
                $(this).parent().parent().children('input').focus();
            });
        })
        </script>

{% endblock %}
{% block body %}
    <div class="container" id="all">
    <div class="img-login">
        <img src="{{ url_for('static', filename='pictures/img-login.jpg') }}" id="img-login">
    </div>

    <div id="login-form">
        <h2>修改密码</h2>
        <hr>
        <br>
        <!-- 登陆表单开始 -->

        <form method="POST">
            <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="label-btn"><span class='glyphicon glyphicon-menu-right' aria-hidden="true"></span> 旧密码</button>
            </span>
            <input name="old_pass" type="password" class="form-control" placeholder="请输入旧密码" maxlength="16">
            </div>
                <br>
                <br>
            <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="label-btn"><span class='glyphicon glyphicon-menu-right' aria-hidden="true"></span> 新密码</button>
            </span>
            <input name='new_pass' type="password" class="form-control" placeholder="请输入新密码" maxlength="16">
            </div>
            <br><br>
                <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="label-btn"><span class='glyphicon glyphicon-menu-right' aria-hidden="true"></span> 确认密码</button>
            </span>
            <input name='re_pass' type="password" class="form-control" placeholder="再次输入" maxlength="16">
            </div>
            <br>
            <br>

            <button class="btn btn-primary" id="change-password" type="button">确认</button>

        </form>
        <!-- 登陆表单结束 -->
    </div>

    </div>

{% endblock %}